{% set progressbar = 'block' if hacs.system.status.background_task else 'none' %}
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/hacsweb/{{ hacs.token }}/static/materialize.min.css.gz">
  <link rel="stylesheet" href="/hacsweb/{{ hacs.token }}/static/all.min.css.gz">
  <script src="/hacsweb/{{ hacs.token }}/static/materialize.min.js.gz"></script>
  <link rel="stylesheet" href="/hacsweb/{{ hacs.token }}/static/static/hacs.css">
  <script src="/hacsweb/{{ hacs.token }}/static/hacs.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="nav-extended hacs-nav">
      <div class="nav-content">
        <ul class="right tabs tabs-transparent">
          <li class="tab {{ 'active' if location == 'overview' }}"><a href="/hacsweb/{{ hacs.token }}/overview?timestamp={{ timestamp }}">Overview</a></li>
          <li class="tab {{ 'active' if location == 'store' }}"><a href="/hacsweb/{{ hacs.token }}/store?timestamp={{ timestamp }}">Store</a></li>
          <li class="tab right {{ 'active' if location == 'settings' }}"><a href="/hacsweb/{{ hacs.token }}/settings?timestamp={{ timestamp }}">Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="main" class="hacs-content">
    <div class="progressbar" style="display: {{ progressbar }}">
      <p>Background task running, this page will reload when it's done.</p>
      <div class="progress hacs-bar-background" id="progressbar">
        <div class="indeterminate hacs-bar"></div>
      </div>
    </div>
    <div class="loading hidden">
      <div class='uil-ring-css' style='transform:scale(0.79);'>
        <div></div>
      </div>
    </div>
    {% if message %}
    {% include 'message.html' with context %}
    {% endif %}
    {% set hacs_repo = hacs.get_by_name("hacs/integration") %}
    {% if hacs_repo.pending_restart %}
    {% set message = "The frontend of HACS has been disabled until you restart Home Assistant." %}
    {% include 'message.html' with context %}
    {% else %}
    {% block content %}
    {% endblock %}
    {% endif %}
  </div>
</body>

</html>
