{% set progressbar = 'block' if hacs.system.status.background_task else 'none' %}
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/hacsweb/{{ hacs.token }}/static/materialize.min.css.gz">
  <link rel="stylesheet" href="/hacsweb/{{ hacs.token }}/static/all.min.css.gz">
  <script src="/hacsweb/{{ hacs.token }}/static/materialize.min.js.gz"></script>
  <link rel="stylesheet" href="/hacsweb/{{ hacs.token }}/static/static/hacs.css">
  <script src="/hacsweb/{{ hacs.token }}/static/hacs.js"></script>
</head>

<body>
  <hacs-navigation></hacs-navigation>
  <div id="main" class="hacs-content">
    <hacs-progress-bar></hacs-progress-bar>
    <div class="loading hidden">
      <div class='uil-ring-css' style='transform:scale(0.79);'>
        <div></div>
      </div>
    </div>
    {% if message %}
    {% include 'message.html' with context %}
    {% endif %}
    {% set hacs_repo = hacs.get_by_name("custom-components/hacs") %}
    {% if hacs_repo.pending_restart %}
    {% set message = "The frontend of HACS have been disabled until you restart Home Assistant." %}
    {% include 'message.html' with context %}
    {% else %}
    {% block content %}
    {% endblock %}
    {% endif %}
  </div>
  <script>
    class HacsProgressBar extends HTMLElement {
      render() {
        this.innerHTML = `
        <div class="progressbar" style="display: {{ progressbar }}">
          <p>${hass.localize("component.hacs.common.background_task")}</p>
          <div class="progress hacs-bar-background" id="progressbar">
            <div class="indeterminate hacs-bar"></div>
          </div>
        </div>`;
      }

      connectedCallback() {
        this.render();
      }
    }

    class HacsNavigation extends HTMLElement {
      render() {
        this.innerHTML = `
        <div class="navbar-fixed">
          <nav class="nav-extended hacs-nav">
            <div class="nav-content">
              <ul class="right tabs tabs-transparent">
                <li class="tab {{ 'active' if location == 'overview' }}"><a
                    href="/hacsweb/{{ hacs.token }}/overview?timestamp={{ timestamp }}">
                    ${hass.localize("component.hacs.common.overview")}</a></li>
                <li class="tab {{ 'active' if location == 'store' }}"><a
                    href="/hacsweb/{{ hacs.token }}/store?timestamp={{ timestamp }}">
                    ${hass.localize("component.hacs.common.store")}</a></li>
                <li class="tab right {{ 'active' if location == 'settings' }}"><a
                    href="/hacsweb/{{ hacs.token }}/settings?timestamp={{ timestamp }}">
                    ${hass.localize("component.hacs.common.settings")}</a></li>
              </ul>
            </div>
          </nav>
        </div>`;
      }

      connectedCallback() {
        this.render();
      }
    }


    customElements.define('hacs-navigation', HacsNavigation);
    customElements.define('hacs-progress-bar', HacsProgressBar);
  </script>
</body>

</html>