<div class='hacs-overview-container'>
  <h5>{{ displaytype }}</h5>
  <div class='hacs-card-container'>
    {% for repository in repositories.repositories %}
    <a href="/hacsweb/{{ hacs.token }}/repository/{{ repository.information.uid }}?timestamp={{ timestamp }}"
      class="hacs-card" onclick="toggleLoading()">
      <div class="hacs-card overview">
        <div id="statusicon">

        </div>
        <div id="title">
          <input type="hidden" name="author" value="{{repository.information.authors}}">
          <input type="hidden" name="topics" value="{{repository.information.topics}}">
          <input type="hidden" name="full_name" value="{{repository.information.full_name}}">
          <span class="hacs-card-title">
            {% if location == 'store' and repository.status.new %}
            <span title="{{ repository.display_status_description }}" class='hacs-badge'>NEW</span>
            {% else %}
            <i title="{{ repository.display_status_description }}"
              class='fas fa-cube card-status {{repository.display_status}}'></i>
            {% endif %}
            {{repository.display_name}}
          </span>
        </div>
        <div id="description">
          <span class="hacs-card-content">
            <p>{{repository.information.description}}</p>
          </span>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</br>
</br>