<div class='hacs-overview-container'>
  <div class="row">
    <h5>{{ displaytype }}</h5>
    <table class="hacs-table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th class="smal-hide">Description</th>
          {% if location == 'overview' %}
          <th class="smal-hide">Installed</th>
          <th class="smal-hide">Available</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for repository in repositories.repositories %}
        <tr class="hacs-table-row"
          onclick="toggleLoading();window.location='/hacsweb/{{ hacs.token }}/repository/{{ repository.information.uid }}?timestamp={{ timestamp }}';">
          <input type="hidden" name="author" value="{{repository.information.authors}}">
          <input type="hidden" name="topics" value="{{repository.information.topics}}">
          <input type="hidden" name="full_name" value="{{repository.information.full_name}}">
          <td title="{{ repository.display_status_description }}">
            {% if location == 'store' and repository.status.new %}
            <span style='margin-left: 25%' class='repository-list-badge hacs-badge'>NEW</span>
            {% else %}
            <i style='margin-left: 25%' class='fas fa-cube card-status {{repository.display_status}}'></i></td>
          {% endif %}
          <td>
            {{repository.display_name}}
          </td>
          <td class="hacs-card-content smal-hide">{{repository.information.description}}</td>
          {% if location == 'overview' %}
          <td class="smal-hide">{{repository.display_installed_version}}</td>
          <td class="smal-hide">{{repository.display_available_version}}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>