{% set repositories = namespace(repositories=[]) %}
{% for repository in hacs.sorted_by_name %}
{% if repository.status.new %}
{% set repositories.repositories = repositories.repositories+[repository] %}
{% endif %}
{% endfor %}
{% if repositories.repositories %}
<div class='hacs-overview-container'>
  <div class="row">
    <h5>NEW REPOSITORIES (ALL)</h5>
    <form action="/hacsapi/{{ hacs.token }}/remove_new_flag" name="remove_new_flag" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded" class="hacs-form">
      <input type="hidden" name="return" value="store">
      <a class="waves-effect waves-light btn modal-trigger hacsbutton" href="#"
        onclick="toggleLoading();document.getElementsByName('remove_new_flag')[0].submit()" style="width: 95%;">
        Remove the NEW flag for all new items
      </a>
    </form>
    <table class="hacs-table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th class="smal-hide">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for repository in repositories.repositories %}
        <tr class="hacs-table-row"
          onclick="toggleLoading();window.location='/hacsweb/{{ hacs.token }}/repository/{{ repository.information.uid }}?timestamp={{ timestamp }}';">
          <td>
            <span class="hacs-badge">{{repository.information.category | upper}}</span>
          </td>
          <td>
            {{repository.display_name}}
          </td>
          <td class="hacs-card-content smal-hide">{{repository.information.description}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}