[run]
source = custom_components

omit =
    # omit pieces of code that rely on external API calls
    # These should be mocked one day....
    custom_components/hacs/helpers/get_defaults.py
    custom_components/hacs/operational/setup_actions/load_hacs_repository.py
    custom_components/hacs/operational/factory.py
    custom_components/hacs/operational/relaod.py
    custom_components/hacs/operational/remove.py
    custom_components/hacs/operational/setup.py
    custom_components/hacs/config_flow.py
    custom_components/hacs/__init__.py

    # omit tests
    tests/*

    # omit scripts
    scripts/*

[report]
exclude_lines =
    if TYPE_CHECKING: