# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.claude
.coverage
.python-version
.venv
.vscode
coverage.xml
htmlcov
outputdata
settings.json
venv


# Frontend are downloaded on release
custom_components/hacs/hacs_frontend

# Translation files
custom_components/hacs/translations
!custom_components/hacs/translations/en.json

# Home Assistant configuration
config
