site
.pytest*
__pycache__
settings.json
.devcontainer/configuration.yaml
node_modules
custom_components/hacs/frontend
custom_components/hacs/.translations
custom_components/custom_components
manage/secrets.json
# dependencies
/node_modules
.coverage
coverage.xml