[tool.black]
line-length = 100
target-version = ['py39']
exclude = 'generated'

[tool.isort]
# https://github.com/PyCQA/isort/wiki/isort-Settings
profile = "black"
# will group `import x` and `from x import` of the same module.
force_sort_within_sections = true
known_first_party = [
    "custom_components",
    "tests",
]
forced_separate = [
    "tests",
]
combine_as_imports = true


[tool.pytest.ini_options]
addopts = "-rxf -x -v -l --cov=./ --cov-report=xml"
filterwarnings = [
    "ignore::DeprecationWarning",
]
testpaths = [
    "tests",
]
python_files = [
    "test_*.py",
]

norecursedirs = [
    ".git",
]