aiofiles>=0.6.0
aiogithubapi>=21.2.0
aiohttp>=3.6.2,<4.0
aresponses==2.1.4
asynctest==0.13.0
attrs==20.3.0
awesomeversion>=21.2.2
backoff>=1.10.0
bellybutton==0.3.1
colorlog==4.7.2
hacs_frontend==20210214110032
pre-commit==2.10.1
PyGithub==1.54.1
pytest==6.2.2
pytest-asyncio==0.14.0
pytest-cov==2.11.1
pytest-socket==0.3.5
queueman==0.5
requests==2.25.1
vulture==2.3
