aiogithubapi>=21.11.0
aiohttp>=3.6.2,<4.0
aiohttp_cors==0.7.0
aresponses==2.1.6
asynctest==0.13.0
bellybutton==0.3.1
colorlog==6.6.0
pre-commit==2.20.0
pytest==7.1.2
pytest-asyncio==0.19.0
pytest-cov==3.0.0
pytest-socket==0.5.1
vulture==2.5
