aiofiles==0.4.0
aiogithubapi==0.4.3
aiohttp==3.6.2
attrs==19.3.0
attrs==19.3.0
backoff==1.10.0
hacs_frontend>=20191226110059
integrationhelper==0.2.2
PyGithub==1.44.1
pytest-asyncio==0.10.0
pytest-cov==2.8.1
pytest==5.3.2
semantic_version==2.8.4