{% extends "base.html" %}
{% block content %}
<div class='hacs-overview-container'>
  <div class="hacs-card-standalone">
    <form style="display: contents" action="/hacsapi/{{ hacs.token }}/set_ha_version_action"  method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
      <input class="hacscolor" type="text" name="ha_version" value="{{hacs.store.ha_version}}">
      <button class="waves-effect waves-light btn hacsadminbutton" type="submit" onclick="toggleLoading()">
          SET
      </button>
    </form>
  </div>
</div>
{% endblock %}