<div id="haversion" class="modal hacscolor">
    <div class="modal-content">
        <h5>Unsupported Home Assistant version</h5>
        <p>
            You have version '{{hacs.system.ha_version}}' of Home Assistant, but version
            '{{repository.display_available_version}}' of '{{repository.display_name}}' require version
            '{{repository.repository_manifest.homeassistant}}' of Home Assistant, installation and upgrades are disabled
            for this
            integration untill you upgrade Home Assistant.
        </p>
    </div>
</div>