<div class="hacs-overview-container hacs-color minigrid" style="margin-top: 30px;">
  <h5 style="margin-left: 5px;">ADMIN TOOLS</h5>
  {% for button in ["remove_new_flag", "repositories", "set_ha_version"] %}
    <form style="display: contents" action="/hacsapi/{{ hacs.token }}/{{button}}"  method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
      <button class="waves-effect waves-light btn hacsadminbutton" type="submit" onclick="toggleLoading()">
          {{ button.replace("_"," ")}}
      </button>
    </form>
  {% endfor %}
</div>