<div class='hacs-overview-container minigrid'>

    <a href="/hacsapi/{{ hacs.token }}/repositories_reload"
        class='waves-effect waves-light btn hacsbutton'
        onclick="toggleLoading()">
      RELOAD DATA
    </a>

    <a href="#modal_upgrade_all" 
        class="waves-effect waves-light btn modal-trigger hacsbutton"
        style="background-color: var(--google-red-500) !important; font-weight: bold;">
      UPGRADE ALL
    </a>

    <a href='https://github.com/custom-components/hacs'
        rel='noreferrer'
        class='waves-effect waves-light btn hacsbutton'
        target="_blank">
      HACS REPO
    </a>

    <a href='{{hacs.const.ISSUE_URL}}/new/choose'
        rel='noreferrer'
        class='waves-effect waves-light btn hacsbutton'
        target="_blank">
      OPEN ISSUE
    </a>

</div>