<div class="hacs-overview-container hacs-color minigrid" style="margin-top: 30px;">
  <div class="hacs-card-standalone">
    <h5 style="margin-left: 5px;">DEVELOPER TOOLS</h5>
    {% for button in [
      "remove_new_flag",
      "repositories",
      "set_ha_version",
      "token",
      "template_test"
      ] %}
      <form style="display: contents" action="/hacsapi/{{ hacs.token }}/devview"  method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="view" value="{{button}}">
        <button class="waves-effect waves-light btn hacsadminbutton" type="submit" onclick="toggleLoading()">
            {{ button.replace("_"," ")}}
        </button>
      </form>
    {% endfor %}
  </div>
</div>