.yaml {
  font-family: monospace, monospace;
  font-size: 1em;
  border-style: solid;
  border-width: thin;
  margin: 0;
  overflow: auto;
  display: inline-flex;
  width: calc(100% - 20px);
  white-space: pre-wrap;
}

.hacslist {
  border: none;
}

.hacs-card-container {
  display: grid;
  grid-gap: 10px;
}

@media all and (min-width: 550px) {
  .hacs-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hacs-overview-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flow-root;
}

.hacs-content {
  position: absolute;
  top: 49px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 15px;
}

.hacs-card {
  height: 100%;
  background-color: var(--paper-card-background-color) !important;
  padding: 12px;
}

.overview {
  height: 100%;
}

.hacs-card-title {
  font-size: large;
  color: var(--primary-text-color);
}

.hacs-card-content {
  color: var(--secondary-text-color);
  font-style: italic;
}

.card-status {
  font-size: 18px;
  padding-right: 4px;
}

.hacs-card-standalone {
  background-color: var(--paper-card-background-color) !important;
  color: var(--primary-text-color);
  padding: 16px;
}

.installed {
  color: var(--hacs-status-isntalled);
}

.pending-restart {
  color: var(--hacs-status-pending-restart);
}

.pending-update {
  color: var(--hacs-status-pending-update);
}

.default {
  color: var(--primary-text-color);
}

.hacs-nav {
  background-color: var(--primary-color) !important;
  position: fixed;
  height: auto;
}

a {
  color: var(--primary-color);
}

.disabledaction {
  cursor: default;
  color: var(--primary-color);
  opacity: 0.5;
}

.hacs-bar {
  background-color: var(--primary-color) !important;
}
.hacs-bar-background {
  background-color: var(--dark-primary-color) !important;
}

.errorview {
  display: block;
  margin-bottom: 30px;
}

.hacscolor {
  background-color: var(--paper-card-background-color) !important;
  color: var(--primary-text-color);
}

.hacsbutton {
  margin: 3%;
  background-color: var(--primary-color) !important;
}

body {
  background-color: var(--primary-background-color) !important;
  color: var(--primary-text-color);
  overflow: hidden;
}

#main::-webkit-scrollbar-track
{
	border-radius: 10px;
}

#main::-webkit-scrollbar
{
	width: 12px;
}

#main::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--primary-color);
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color);
  -webkit-box-shadow: 0 1px 0 0 var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}

.dropdown-list-item {
  color: var(--primary-color) !important;
  background-color: var(--paper-card-background-color) !important;
}

a.dropdown-list-item:hover {
  opacity: 0.95;
}

.card-action a:hover {
  opacity: 0.6 !important;
}

.codeinfo {
  opacity: 0.6 !important;
}

.repository-select {
  display: initial !important;
  margin-left: 1%;
  width: 20%;
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-text-color);
}

.repository-list-badge {
  background-color: var(--primary-color);
  margin-right: 1%;
  padding: 0 4 2 4;
  color: var(--primary-text-color);
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}


/* color vars*/
:root {
  --hacs-status-isntalled: #126e15;
  --hacs-status-pending-restart: #a70000;
  --hacs-status-pending-update: #ffab40;
  --primary-color: #03a9f4;
  --primary-text-color: #000000;
  --secondary-text-color: #424141;
  --primary-background-color: #fafafa;
  --paper-card-background-color: #ffffff;
  --dark-primary-color: #00405d;
  --google-red-500: #db4437;
}