.yaml {
  font-family: monospace, monospace;
  font-size: 1em;
  border-style: solid;
  border-width: thin;
  margin: 0;
  overflow: auto;
  display: inline-flex;
  width: calc(100% - 20px);
  white-space: pre-wrap;
}

.hacslist {
  border: none;
}

.hacs-card-container {
  display: grid;
  grid-gap: 10px;
}

.hacs-overview-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
}

.hacs-form {
  display: contents;
}

.hacs-table {
  background-color: var(--paper-card-background-color);
}

.hacs-content {
  position: absolute;
  top: 49px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 15px;
}

.hacs-card {
  height: 100%;
  background-color: var(--paper-card-background-color) !important;
  padding: 3px;
}

.overview {
  height: 100%;
}

.hacs-card-title {
  font-size: medium;
  color: var(--primary-text-color);
}

.hacs-card-content {
  color: var(--secondary-text-color);
  font-style: italic;
  font-size: small;
}

.card-status {
  font-size: 18px;
  padding-right: 4px;
}

.hacs-card-standalone {
  background-color: var(--paper-card-background-color) !important;
  color: var(--primary-text-color);
  padding: 16px;
}

.installed {
  color: var(--hacs-status-isntalled);
}

.pending-restart {
  color: var(--hacs-status-pending-restart);
}

.pending-update {
  color: var(--hacs-status-pending-update);
}

.default {
  color: var(--primary-text-color);
}

.hacs-nav {
  background-color: var(--primary-color) !important;
  position: fixed;
  height: auto;
}

a {
  color: var(--primary-color);
}

html {
  line-height: 1;
}

.disabledaction {
  cursor: default;
  color: var(--primary-color);
  opacity: 0.5;
}

.hacs-bar {
  background-color: var(--primary-color) !important;
}
.hacs-bar-background {
  background-color: var(--dark-primary-color) !important;
}

.errorview {
  display: block;
  margin-bottom: 30px;
}

.hacscolor {
  background-color: var(--paper-card-background-color) !important;
  color: var(--primary-text-color);
}

.hacsbutton {
  margin: 3%;
  background-color: var(--primary-color) !important;
}

.hacsadminbutton {
  margin: 1%;
  background-color: var(--primary-color) !important;
}

body {
  background-color: var(--primary-background-color) !important;
  color: var(--primary-text-color);
  overflow: hidden;
  font-size: 14px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color);
  -webkit-box-shadow: 0 1px 0 0 var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}

.dropdown-list-item {
  color: var(--primary-color) !important;
  background-color: var(--paper-card-background-color) !important;
}

a.dropdown-list-item:hover {
  opacity: 0.95;
}

.actionlink {
  color: var(--primary-color) !important
}

.uninstall {
  float: right;
  color: var(--google-red-500) !important;
  font-weight: bold;
}

@media all and (max-width: 550px) {
  .actionlink {
    width: 100%;
    padding: 5px;
    display: block;
    font-size: x-large;
    text-align: center;
  }

  .uninstall {
    float: none;
  }
}
.minigrid {
  display: contents;
}

.card-action a:hover {
  opacity: 0.6 !important;
}

.codeinfo {
  opacity: 0.6 !important;
}

.hacs-select {
  display: initial !important;
  margin-left: 1%;
  width: 20%;
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-text-color);
}

.hacs-badge {
  background-color: var(--hacs-badge-color);
  margin-right: 1%;
  font-size: 12px;
  padding: 0px 4px 2px 4px;
  color: var(--hacs-badge-text-color);
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

tr.hacs-table-row:hover {
  cursor: pointer;
}


/* color vars*/
:root {
  --hacs-status-isntalled: #126e15;
  --hacs-status-pending-restart: #a70000;
  --hacs-status-pending-update: #ffab40;
  --hacs-status-default: var(--primary-text-color);
  --hacs-badge-color: var(--primary-color);
  --hacs-badge-text-color: var(--primary-text-color);
  --primary-color: #03a9f4;
  --primary-text-color: #000000;
  --secondary-text-color: #424141;
  --primary-background-color: #fafafa;
  --paper-card-background-color: #ffffff;
  --dark-primary-color: #00405d;
  --google-red-500: #db4437;
}

/* hug screens*/
@media all and (min-width: 2000px) {
  .hacs-card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* even bigger screens*/
@media all and (min-width: 1500px) and (max-width: 1999px) {
  .hacs-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* bigger screens*/
@media all and (min-width: 1000px) and (max-width: 1499px) {
  .hacs-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* big screens */
@media all and (min-width: 550px) and (max-width: 999px) {
  .hacs-card-container {
    grid-template-columns: repeat(3, 1fr);
  }


  #main::-webkit-scrollbar-track
  {
    border-radius: 10px;
  }

  #main::-webkit-scrollbar
  {
    width: 12px;
  }

  #main::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: var(--primary-color);
  }
}

/* smal screens */
@media all and (max-width: 550px) {
  body {
    overflow: scroll !important;
  }

  .minigrid {
    display: grid;
  }

  .smal-hide {
    display: none !important;
  }

  .hacs-content {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
  }
}


/* laoder */

*.hidden {
  display: none !important;
}

div.loading{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 var(--primary-color);
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}