.yaml {
  font-family: monospace, monospace;
  font-size: 1em;
  border-style: solid;
  border-width: thin;
  margin: 0;
  overflow: auto;
  display: inline-flex;
  width: calc(100% - 20px);
  white-space: pre-wrap;
}


a {
  color: #ffab40;
}

.disabledaction {
  cursor: default;
  opacity: 0.5;
}

::-webkit-scrollbar {
  display: none;
}

.errorview {
  display: block;
  margin-bottom: 30px;
}

.hacsbutton {
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 2%;
}