{% if repository.information.authors %}
{% if repository.information.category == "integration" %}
<tr class="hacs-table-row repository">
    <td class="repository">
        <b>Author(s):</b>
    </td>
    <td class="repository text">
        {% for author in repository.information.authors %}
        {% if "@" in author %}
        {% set author = author.split("@")[-1] %}
        {% endif %}
        <a rel='noreferrer' href='https://github.com/{{author}}' target='_blank'
            style='color: var(--primary-color) !important; margin: 2'> @{{author}}</a>
        {% endfor %}
    </td>
</tr>
{% else %}
<tr class="hacs-table-row repository">
    <td class="repository">
        <b>Author:</b>
    </td>
    <td class="repository text">
        {{repository.information.authors}}
    </td>
</tr>
{% endif %}
{% endif %}