<ul id='dropdown1' class='dropdown-content'>

  <form action="/hacsapi/{{ hacs.token }}/repository_update" name="update" method="post" accept-charset="utf-8"
    enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="repository_id" value="{{repository.information.uid}}">
    <li>
      <a class="dropdown-list-item" href='#' onclick="toggleLoading();document.getElementsByName('update')[0].submit()">
        Reload
      </a>
    </li>
  </form>

  {% if repository.display_version_or_commit == "version" %}
  {% set hide_show = "hide" if repository.status.show_beta else "show" %}
  <form action="/hacsapi/{{ hacs.token }}/repository_beta_{{hide_show}}" name="beta" method="post"
    accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="repository_id" value="{{repository.information.uid}}">
    <li>
      <a class="dropdown-list-item" href='#' onclick="toggleLoading();document.getElementsByName('beta')[0].submit()">
        {{hide_show | title}} beta
      </a>
    </li>
  </form>
  {% endif %}

  {% if not repository.status.installed %}
  {% if not repository.custom %}
  {% if repository.information.uid != "172733314" %}
  <form action="/hacsapi/{{ hacs.token }}/repository_hide" name="repository_hide" method="post" accept-charset="utf-8"
    enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="repository_id" value="{{repository.information.uid}}">
    <li>
      <a class="dropdown-list-item" href='#'
        onclick="toggleLoading();document.getElementsByName('repository_hide')[0].submit()">
        Hide
      </a>
    </li>
  </form>
  {% endif %}
  {% endif %}
  {% endif %}

  <li>
    <a class="dropdown-list-item" rel='noreferrer'
      href="https://github.com/{{repository.information.full_name}}/issues/" target="_blank">
      Open issue
    </a>
  </li>


  {% if repository.information.uid != "172733314" %}
  <li>
    <a class="dropdown-list-item" rel='noreferrer'
      href="https://github.com/hacs/integration/issues/new?title={{repository.information.full_name}}&labels=flag&assignee=ludeeus&template=flag.md"
      target="_blank">
      Flag this
    </a>
  </li>
  {% endif %}

</ul>