{% if repository.additional_info %}
</br>
<hr></br>
{% endif %}

{% if repository.information.category == "appdaemon" %}

<i>
  When installed, this will be located in '{{repository.content.path.local}}',
  you still need to add it to your 'apps.yaml' file.
</i>

{% elif repository.information.category == "integration" %}

<i>
  When installed, this will be located in '{{repository.content.path.local}}',
  you still need to add it to your 'configuration.yaml' file.
</i>

{% elif repository.information.category == "plugin" %}
{% set name =  repository.information.full_name.split("/")[-1] %}

<i>
  When installed, this will be located in '{{repository.content.path.local }}',
  you still need to add it to your lovelace configuration ('ui-lovelace.yaml' or the raw UI config editor).
</i>
</br></br>
<i>
  When you add this to your configuration use this:
</i></br>
<pre id="LovelaceExample" class="yaml">
  - url: /community_plugin/{{name}}/{{repository.information.file_name}}
  {%- if repository.information.javascript_type %}
    type: {{repository.information.javascript_type}}
  {%- else %}
    type: Could not determine the type of this plugin, check the repository.
  {%- endif -%}
    </pre>
<a title="Copy content to clipboard" id="lovelacecopy" onclick="CopyToLovelaceExampleToClipboard()">
  <i class="fa fa-copy"></i>
</a>
{% endif %}