name: "Check Pull Request labels"

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
      - unlabeled
    branches:
      - main

permissions: {}

jobs:
  check_labels:
    name: "Check Pull Request labels"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Check the labels
        uses: ludeeus/action-require-labels@7ef0dba93830452589680da7cdea2e2c4c0f8dff # 1.1.0
        with:
          labels: >-
              Breaking Change, Experimental, pr: new-feature,
              pr: enhancement, pr: refactor, pr: bugfix,
              pr: dependency-update, pr: action, pr: test,
              pr: repository